@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-primary-50;
  }
  h1 {
    @apply text-5xl font-medium py-8;
  }
  h2 {
    @apply text-4xl font-medium py-6;
  }
  h3 {
    @apply text-3xl font-medium text-primary-900 py-4;
  }
  h4 {
    @apply text-2xl font-medium text-primary-900 py-2;
  }
  h5 {
    @apply text-xl font-medium text-primary-900 py-1;
  }
  p {
    @apply text-base font-normal text-primary-900;
  }
  a {
    @apply text-base font-medium text-primary-900 hover:text-primary-600;
  }
  /* button {
    @apply btn-primary
  } */
}

@layer components {
  .btn-primary {
    @apply bg-primary-900 text-primary-50 font-bold py-2 px-4 hover:bg-primary-800 hover:text-primary-200;
  }

  .btn-primary-outline {
    @apply bg-primary-50 text-primary-900 font-bold py-2 px-4 border hover:bg-primary-800 hover:text-primary-200;
  }

  .display-1 {
    @apply text-8xl font-light;
  }

  .display-2 {
    @apply text-7xl font-light;
  }

  .display-3 {
    @apply text-6xl font-light;
  }

  .display-4 {
    @apply text-5xl font-light;
  }

  .display-5 {
    @apply text-4xl font-light;
  }

  /* https://www.magicpattern.design/tools/css-backgrounds */
  /* .special-background {
    
    background-color: #fbfcfc;
    opacity: 0.8;
    background-image: repeating-radial-gradient(
        circle at 0 0,
        transparent 0,
        #fbfcfc 10px
      ),
      repeating-linear-gradient(#fbfcfc55, #d7e4e3);
  } */

  .special-background {
    background-size: 12px 12px;
    background-image: radial-gradient(
      circle,
      #d7e4e3 1px,
      rgba(0, 0, 0, 0) 1px
    );
  }
}

/*
  @layer utilities {
    .filter-none {
      filter: none;
    }
    .filter-grayscale {
      filter: grayscale(100%);
    }
  } */
